@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,900&family=Sacramento&family=Shrikhand&display=swap');

body{
    margin: 0px;
    text-align: center;
}

/* nav bar */
ul{
    list-style-type: none;
    margin: 0;
    padding-top: 10px;
    padding-left: 400px;
    overflow: hidden;
    background-color: #C8DAD3;
}
  
li{
    float: left;
    font-size: 25px;
}
  
li a{
    display: block;
    color: #F2F6F5;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Montserrat',sans-serif;
}
  
li a:hover {
    background-color: #F2F6F5;
    color:  #63707E;
}
.navbar{
    background-color: #C8DAD3;
    height: 100px;
}
.navbar-contents{
    padding: 30px;
}
.logo{
    width: 90px;
    padding: 10px 300px 10px 300px;
    height: auto;
    float: left;
}
/* end of nav bar */


/*elements*/
h1{
    margin: 0px;
    padding: 10px;
    font-family: 'Shrikhand', cursive;
    font-size: 6rem;
    font-weight: 100;
    color: #F2F6F5;
}
p{
    margin: 0px;
    padding: 30px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    color: #93B5B3;
}

img{
    width: 600px;
    height: 600px;
}
h2{
    margin: 0;
    padding: 25px;
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    color: #63707E;
}
hr{
    width: 5%;
    border-style: dotted none none none;
    border-width: 10px;
    border-color: #D6E4E5;
}
/*end of elements*/

/*class*/
.top-container{
    background-color:  #C8DAD3;
    position: relative;
    padding: 100px;
}
.middle-container{
    margin: 200px auto 200px auto;
    position: relative;
}
.bottom-container {
    margin: 0px auto 0px auto;
    background-color:  #C8DAD3;
    position: relative;
    padding: 100px;
}
.profile {
    width: 50%;
    margin: 50px 400px 50px;
    line-height: 2;
    text-align: left;
}
.profile p{
    width: 500px;
    padding: 10px;
    position: absolute;
    text-align: justify;
    left: 900px;
    top: 200px;
}
.profile img{
    width: 50%;
    height: auto;
    position: relative;
}
.skill {
    width: 50%;
    margin: 100px auto 100px auto;
    line-height: 2;
    text-align: justify;
}
.skill p{
    padding: 10px;
    color:white ;
}
.skill_img_1{
    width: 30%;
    height: auto;
    float: right;
    margin: 50px
}
.skill_img_2{
    width: 35%;
    height: auto;
    float: left;
    margin: 50px
}

.footer{
    margin: 50px auto 0;
    background-color:  #C8DAD3;
}
.footer_link{
    padding: 50px;
    font-family: 'Montserrat', sans-serif;
    color: #F2F6F5;
}
.see_ya{
    margin: 50px auto 50px auto;
    width: auto;
}
.footer p{
    color: #F2F6F5;
}
.footer_link a{
    color: #F2F6F5;
}
/*end class*/